
:root {


  --height-front-box: 38vh;
  --width-front-box: 38vw;
}

.box {
  height:55vh;
  width:40vw;
  border-radius:10px; 
  border:2px solid rgb(27, 27, 27);
  padding:6px 0px;
  background:#ffffff;

  /* centraliza o elemento na tela */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#titulo-propriedade { 

  position: fixed;
  top: 7%;
  left: 7%;

}

hr {

  position:absolute;
   width:100%;
   top: 13%;
   border: none;
   height: 1px;
   background-color: rgb(27, 27, 27);
 

}

.box-menor{
  height: var(--height-front-box);
  width:var(--width-front-box);
  border-radius:10px; 
  border:2px solid  rgb(27, 27, 27);
  padding:6px 0px;

  /* centraliza o elemento na tela */
  position: fixed;
  top: 52%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
}

.box-content{
  height:var(--height-front-box);
  width:var(--width-front-box);
  overflow:auto;
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.botao-primario{
  position: relative;
  top: 91%;
  left: 68%;
  /* bring your own prefixes */

}

.botao-secundario{
  position: relative;
  top: 91%;
  left: 70%;
  /* bring your own prefixes */

}